@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Glacial Indifference', sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('~/assets/img/background.png');
  background-position: center top;
  background-size: 100% auto;
  padding: 0 !important;
}

.title {
  font-family: 'Brittany Signature', sans-serif;
  font-size: 40px;
  letter-spacing: 0;
}

.subtitle {
  font-family: 'Pinyon Script', cursive;
  font-size: 40px;
  letter-spacing: 0;
}

.text-space-10 {
  padding: 10px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

.paper-bg {
  background-image: url('~/assets/img/background.png');
  background-position: center top;
  background-size: 100% auto;
}

.about-text {
  padding: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .about-text {
    font-size: 18px !important;
  }
}
